
.form_contents {
  text-align: center;
  .attend {
    width: 100%;
    display: table;
    vertical-align: middle;
    label {
      display: table-cell;
      text-decoration: underline;
      position: relative;
      span {
        position: relative;
        cursor: pointer;
        padding: 10px;
      }
      input {
        margin-right: 10px;
        &:checked ~ .check_maru {
          display: block;
          position: absolute;
          top: 0px;
          left: 3px;;
          &.maru_2 {
            top: -6px;
          }
        }
      }
      .check_maru {
        display: none;
      }
    }
  }
  section {
    margin-bottom: 15px;
  }
  .label {
    padding: 10px 20px 0px;
    text-align: center;
    margin-bottom: 10px;
    p {
      text-align: left;
    }
    input, textarea {
      width: calc(100% - 20px);
      font-size: 15px;
      padding: 5px;
    }
    textarea {
      height: 100px;
    }
  }
  input[type=submit] {
    width: 50%;
    padding: 3px;
    font-size: 18px;
    cursor: pointer;
    background: white;
    margin: 20px;
  }
  input[type=file] {
    background: white;
    color: gray;
    font-size: 12px;
    padding: 10px 6px;
  }
  .alert {
    display: none;
  }
  .relative {
    position: relative;
  }
  .loading {
    display: table;
    position: absolute;
    top: 22px;
    left: 30%;
    width: 40%;
    background: white;
    font-size: 16px;
    color: black;
    &.hidden {
      display: none;
    }
  }
}
