#main {
  margin: auto;
  width: 90vw;
  max-width: 740px;
  position: relative;

  #save-the-date {
    margin-left: 222px;
    padding-top: 100px;
    img {
      box-shadow: 3px 3px 5px 5px rgba(0, 0, 0, 0.3);
    }
  }

  .container {
    width: calc(100% - 80px);
    margin: 50px auto;
    padding: 40px;

    .contents, .contents_img {
      margin-bottom: 40px;
      position: relative;
    }

    .contents {
      background: rgba(0, 0, 0, 0.8);
      padding-bottom: 15px;
      box-shadow: 3px 3px 5px 5px rgba(0, 0, 0, 0.3);
      &#album_form {
        padding-bottom: 0px;
      }

      h1, h2 {
        background: rgba(255, 255, 255, 0.8);
        text-align: center;
        margin-bottom: 10px;
        background-size: cover;
        background-position: bottom;
        color: black;
      }
      &:nth-child(4n+1) h1{
        background-image: url(../images/sea_3.jpg);
      }
      &:nth-child(4n+2) h1 {
        background-image: url(../images/sea_2.jpg);
        background-position: center;
      }
      &:nth-child(4n+3) h1 {
        background-image: url(../images/sea_2.jpg);
      }
      &:nth-child(4n+4) h1 {
        background-image: url(../images/sea_4.jpeg);
      }
    }

    section p {
      font-weight: bold;
      padding: 0px 15px;
      text-align: left;
      &.title {
        ~ p {
          padding-left: 30px;
        }
        padding-left: 15px !important;
      }
    }
  }

  .bg img {
    position: absolute;
    width: 40px;
    &#shell1 {
      top: 51px;
      right: 51px;
    }
    &#shell2 {
      top: 60px;
      right: 11px;
    }
    &#starfish {
      bottom: 11px;
      right: 23px;
    }
    &#sunglass {
      top: 51px;
      right: 20px;
      width: 80px;
    }
    &#drink1 {
      bottom: 15px;
      right: 20px;
      width: 33px;
      transform: rotate(-15deg);
    }
    &#drink2 {
      bottom: 15px;
      right: 60px;
      transform: rotate(15deg);
    }
  }
  .notice {
    font-size: 0.65em;
    text-align: left;
    padding: 0px 10px;
    &:before {
      content: '* ';
      color: LightCoral;
    }
  }
}

@media screen and (max-width: 960px) {
  #main {
    #save-the-date {
      margin-left: 213px;
      padding-top: 60px;
    }
    .container {
      margin: 25px auto;
    }
  }
}

@media screen and (max-width: 800px) {
  #main {
    .container {
      width: calc(100% - 40px);
      padding: 20px;
    }
  }
}

@media screen and (max-width: 750px) {
  #main {
    .container {
      width: 100%;
      padding: 20px 0px;
    }
  }
}

@media screen and (max-width: 680px) {
  #main {
    #save-the-date {
      width: 100%;
      margin: auto;
    }
  }
}

@media screen and (max-width: 540px) {
  #main {
    #save-the-date {
      width: 100%;
    }
    .container {
      width: 100%;
      padding: 20px 0px;
    }
  }
}

@media screen and (max-width: 410px) {
  #main {
    #save-the-date {
      padding-top: 20px;
    }
    .container {
      padding: 0px;
      #announce {
        padding-bottom: 45px;
      }
    }
    .bg img {
      &#shell1 {
        top: initial;
        bottom: 11px;
        right: 118px;
        width: 10%;
      }
      &#shell2 {
        top: initial;
        bottom: 11px;
        right: 71px;
        width: 10%;
      }
    }
  }
}
