
@import 'base';

.header {
  color: black;
  background: rgba(255,255,255,0.8);
  text-align: center;
  h1 {
    font-size: 6vw;
  }

}
@media (min-width: 700px) {
  .header {
    h1 {
      font-size: 42px;
    }
  }
}

.album {
  width: 90vw;
  margin: auto;
  padding-top: 50px;
  text-align: center;
  .photo {
    width: 230px;
    height: 170px;
    margin: 10px 20px;
    display: -webkit-inline-box;
    display: inline-block;
    background-size: cover;
    background-position: center;
    box-shadow: 3px 3px 5px 5px rgba(0, 0, 0, 0.3);
  }
}

.back {
  text-align: center;
  background: rgba(0, 0, 0, .8);
}
